/* digital qurbani hat custom stylesheet */
body{
    overflow-x: hidden;
}
.heighlight{
    color:darkorange;
}
.hat-long{
    height: 470px;
}
.hat-bg{
    background-color: #d8f3dc;
}
.hat-padding{
    padding-bottom: 80px;
}
.hat-pt{
    padding-top: 75px;
}
/* custom gradient button */
.hat-button {background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%)}
.hat-button {
   margin: 10px;
   padding: 10px 40px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .hat-button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .hat-card1-bg{
     background-color: #ff5400;
 }
 .hat-card2-bg{
     background-color: #ea698b;
 }
.hat-card3-bg{
    background-color: yellowgreen;
}
  